<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>dayID</key>
		<integer>0</integer>
		<key>name</key>
		<string>Day 1</string>
		<key>startDate</key>
		<date>2010-06-25T21:00:00Z</date>
		<key>endDate</key>
		<date>2010-06-26T09:00:00Z</date>
	</dict>
	<dict>
		<key>dayID</key>
		<integer>1</integer>
		<key>name</key>
		<string>Day 2</string>
		<key>startDate</key>
		<date>2010-06-26T21:00:00Z</date>
		<key>endDate</key>
		<date>2010-06-27T09:00:00Z</date>
	</dict>
</array>
</plist>
